/*
color scheme for this website:
#80ff80
#ffffff
#009933
#66ff66
*/
body {
  background-color:#ffffff;
  font-family: Georgia,Garamond,serif;
      margin-left: 10px;
     margin-left: 10px;
}
h1 {
  color: #66ff66;
}
p {
  color: #000000;
}
h2 {
  color: #009933;
}
h3 {
  color: #009933;
}
h1,h2,h3 {
    font-family: Cambria,Palatino,serif;
  }
