/*
color scheme for this website:
#ffffff
#009933
#66ff66
*/
body {
  background-color:#ffffff;
  font-family: Georgia,Garamond,serif;
      margin-left: 10px;
     margin-right: 10px;
}
h1 {
  color: #009933;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
}
p {
  color: #000000;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
    font-size: 150%;
}
h2 {
  color: #009933;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
}
h3 {
  color: #009933;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
}
h1,h2,h3 {
    font-family: Cambria,Palatino,serif;
  }
