/*
color scheme for this website:
#ffffff
#009933
#66ff66
#e6fff2
*/
body {
  background-color#e6fff2;
  font-family: Georgia,Garamond,serif;
      margin-left: 10px;
     margin-right: 10px;
}
h1 {
  color: #009933;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
}
p {
  color: #000000;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
    font-size: 100%;
}
h2 {
  color: #009933;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
}
h3 {
  color: #009933;
   padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #ccffcc;
    margin: 10px !important;
    text-align: center;
}
h1,h2,h3 {
    font-family: Cambria,Palatino,serif;
  }
 div.review {
    background-color: #E6EBF5; /* pale blue */
    font-size: 150%;
  }
  p.summary {
  	background-color: #E6EBF5;
    font-style:italic
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  p#alert {
    color: black;
    font-weight: bold;
    background: #FFFF66; /* yellow */
    border: 2px solid black;
    padding: 1em;
  }
  a {
    color: black;
    background-color: white;
  }
  a:hover, a:focus {
    color: black;
    background-color: #00ff00;
  }
p#overview:: first-letter {
  font-size: large;
  font-style: ¨Apple Chancery¨, cursive
}
